@import "../../styles/variables";

.flipCard {
  width: 80vw;
  max-width: 25rem;
  height: 15rem;
  position: relative;
}

.flipCardInner {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flipCard.horizontal .flipCardInner.isFlipped {
  transform: rotateY(180deg);
}

.flipCard.vertical .flipCardInner.isFlipped {
  transform: rotateX(180deg);
}

.flipCardFront,
.flipCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.625rem;
  padding: 1rem;
  box-sizing: border-box;

  h2, p {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
  }
}

.brightFern {
  .flipCardFront {
    background-color: $brightFern-front;
    color: $darkFern-back;
  }
  .flipCardBack {
    background-color: $darkFern-back;
    color: $brightFern-front;
  }
}

.brightRust {
  .flipCardFront {
    background-color: $brightRust-front;
    color: $darkRust-back;
  }
  .flipCardBack {
    background-color: $darkRust-back;
    color: $brightRust-front;
  }
}


.flipCardBack {
  transform: rotateY(180deg);
}

.flipCard.vertical .flipCardBack {
  transform: rotateX(180deg);
}

.about .flipCardContainer {
  perspective: 62.5rem;
}
