@import '../../styles/variables';

.about {
  padding: 1rem;

  @media (min-width: $breakpoint-md) {
    padding: 2rem;
  }
}

.flipCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 2rem 0;
}
