@import "../../styles/variables";

.about {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $breakpoint-md) {
    padding: 1rem;
  }
}

.flipCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 2rem 0;
  perspective: 62.5rem; /* Creates the 3D space for the flip cards */

  @media (min-width: $breakpoint-md) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
}
