$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$darkFern: #2c4001;
$brightFern: #c0d904;
$midFern: #93a603;
$brightRust: #f29441;
$darkRust: #84410c; // og 3f1f06
$baseColor: #112;
$brightFernTransp: rgba(192, 217, 4, 0.1);
$midFernTransp: rgba(147, 166, 3, 0.1);
$brightRustTransp: rgba(242, 148, 65, 0.1);
$darkRustTransp: rgba(63, 31, 6, 0.1);

$brightFern-gradient: linear-gradient(
  135deg,
  $brightFernTransp,
  $midFernTransp
);
$darkFern-gradient: linear-gradient(135deg, $darkFern, rgb(74, 107, 1));
$brightRust-gradient: linear-gradient(
  135deg,
  $brightRustTransp,
  rgba(208, 126, 56, 0.2)
);
$darkRust-gradient: linear-gradient(135deg, $darkRust, #603009);
