$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$darkFern: #2c4001;
$brightFern: #c0d904;
$midFern: #93a603;
$brightRust: #f29441;
$darkRust: #3f1f06;
$baseColor: #112;
