@use "../../styles/variables" as *;

.gallery {
  padding: 1rem;

  @media (min-width: $breakpoint-md) {
    padding: 2rem;
  }
}

.prose {
  font-size: 1.1rem;
  line-height: 1.6;
  opacity: 0.9;
  max-width: 85vw;
  margin: 0 auto 2rem auto;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1.5rem;

  @media (min-width: $breakpoint-md) {
    padding: 0 5rem;

    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  }
}
