@import "../../styles/variables";

.gallery {
  padding: 1rem;

  @media (min-width: $breakpoint-md) {
    padding: 2rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1rem;

  @media (min-width: $breakpoint-md) {
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  }
}
