@use "../styles/variables" as *;
@use "sass:color";

:root {
  --bg-color: #{$baseColor};
  --text-color: #fff;
  --accent-color: #{$brightFern};
  --card-bg: #{$darkFern};

  &[data-theme="light"] {
    --bg-color: #fff;
    --text-color: #{$baseColor};
    --accent-color: #{$midFern};
    --card-bg: #f4f4f4;
  }
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  transition: background-color 0.3s ease;
  margin: 0;
  min-height: 100vh;
}

body {
  font-family: var(--font-figtree);
  margin: 0;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: $darkRust;
  transition: color 0.2s ease;

  &:hover {
    text-decoration: underline;
    color: color.adjust($darkRust, $lightness: 10%);
  }

  [data-theme="dark"] & {
    color: $brightRust;

    &:hover {
      text-decoration: underline;
      color: color.adjust($brightRust, $lightness: 10%);
    }
  }
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}
